.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.products-container {
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}

.review-link {
    text-decoration: none;
}

.review-order-btn {
    background-color: #FF9900;
    border-radius: 4px;
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}